*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(10, 243, 165);
    color: rgb(253, 102, 32);
    padding: 30px 20px;
    border-radius: 80px 0px 80px 0px;
}

header h1{
    font-family: 'Pacifico', cursive;
    font-weight:bold;
}
.container .title h1{
    font-size: 60px;
}

section h2{
    color: rgb(253, 102, 32);
    background-color:rgb(10, 243, 165);
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 40px;
    width: 1000px;
    font-family: 'Pacifico', cursive; ;
}

.articles article{
    width: 30%;
    display: inline-block;
    border: 8px double;
    border-color: rgb(10, 243, 165);
    border-radius: 30px;
    height: 350px;
    margin: 10px 0 10px 30px;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

header nav li a{
    color: rgb(253, 102, 32);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

header .container{
    display: flex;
    justify-content:space-between;
    padding: 0 30px;
    align-items: center;
}

section .container .articles{
    justify-content: space-between;
    height: 350px;
    width: 1000px;
}

section article img{
    width: 270px;
    height: 200px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 20px;
    align-self: center;
}

section article a{
    text-decoration: none;
    color: rgb(253, 102, 32);
    font-weight:bolder;
    margin: 8px 8px;
    width: 270px;
    display: block;
    text-align: center;
}

article:hover{
    border: 10px solid rgb(10, 243, 165);
}

article a:hover{
    text-decoration: underline;
    font-size: large;
}

footer{
    background-color: rgb(10, 243, 165);
    color: rgb(253, 102, 32);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer nav ul li a img{
    height:60px;
    width: 60px;
}

footer nav ul li{
    display: inline;
    margin: 0 auto;   
}

footer .container{
    display:flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-left: 20px;
}

aside ul li img{
    height: 150px;
    margin-top: 8px;
}

aside{
    background-color: rgb(10, 243, 165);
    height: 500px;
    width: 300px;
    /*margin-top: 200px;*/
    border-radius: 20px;  
    position: fixed;
    top: 0;
    right: 0;
}

aside h2{
    font-family: 'Pacifico', cursive;
    color: rgb(253, 102, 32);
    text-align: center;
    margin-top: 8px;
}

aside ul li{
    margin-bottom: 20px;
    display: inline-block;
    color: rgb(253, 102, 32);
    font-weight: bolder;
}

aside nav{
    text-decoration: none;
    color: rgb(253, 102, 32);
}


